/* Basic */
html {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 10px;
}

body {
  margin: 0;
}

/* Header */
header {
  position: fixed;
  right: 0;
  left: 0;
  background: black;
  border-bottom: 0.3rem solid dimgray;

  nav {
    /* max-width: 150rem; */
    margin: 0 auto;
  }

  nav ul {
    margin: 0;
    margin-right: 20rem;
    float: right;
    list-style: none;
    overflow: hidden;
  }

  nav ul li {
    display: inline-block;
  }

  nav ul li a {
    padding: 1rem 2rem;
    display: inline-block;
    color: dimgray;
    text-decoration: none;
    font-size: 2rem;
  }

  nav ul li:nth-child(1) a {
    color: white;
  }

  nav ul li:first-child a {
    padding-left: 0;
  }

  nav ul li:last-child a {
    padding-right: 0;
  }

  .circle {
    border-radius: 50%;
    padding: 0;
    margin: 0.5rem;
    margin-left: 20rem;
    width: 3.3rem;
    height: 3.3rem;
    background: white;
    display: inline-block;
  }

  .logo {
    font-size: 2.7rem;
    font-weight: 500;
    left: 0.3rem;
    color: black;
    text-decoration: none;
    letter-spacing: -0.3rem;
    text-align: center;
    position: relative;
  }

  nav ul li a:hover {
    color: white;
  }

}

/* Main content area */
main {
  padding: 0rem;
  margin: 0;

  .intro {
    color: black;
    padding: 23rem 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .headline {
      margin-left: 20rem;

      h1 {
        font-size: 7.5rem;
        font-weight: 600;
        margin: 0;
      }

      p {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
      }
    }

    img {
      /* float: right; */
      width: 35rem;
      margin-right: 21.5rem;
    }

  }

  .about_me {
    margin-bottom: 20rem;
    background-color: black;
    .heading {
      display: block;
      margin-top: 15rem;
      margin-bottom: 18rem;
      h2 {
        text-align: center;
        font-size: 7rem;
        font-weight: 500;
      }
    }
    .contents {
      --size-container: 15rem;
      justify-content: space-between;
      display: flex;
      text-align: center;
      margin-left: 20rem;
      margin-right: 20rem;
      .container {
        border-radius: 50%;
        width: var(--size-container);
        height: var(--size-container);
        border: solid white 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: white;
      }
      p {
        font-size: 1.5rem;
      }
      .school img {
        width: calc(var(--size-container) + 0.5rem);
      }

      .location img {
        width: calc(var(--size-container) + 3rem);
      }
      .music img {
        width: var(--size-container);
      }
      .birthday img {
        width: calc(var(--size-container) - 5rem);
      }
    }
  }

  .skills {
    background-color: rgb(22, 22, 23);
    background-color: white;
  }


}









/* Footer styling */
footer {
  text-align: center;
  padding: 2rem;
  background: #333;
  color: #ffffff;
}