/* Basic styling */
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin: 0;
}

header {
  position: fixed;
  right: 0;
  left: 0;
  background: black;
}

nav {
  /* width: 100%; */
  max-width: 71.25rem;
  /* height: 4.5rem; */
  /* padding: 1.25rem 2rem; */
  margin: 0 auto;
}

nav ul {
  margin: 0;
  float: right;
  list-style: none;
  overflow: hidden;
}

nav ul li {
  display: inline-block;
}

.logo,
nav ul li a {
  padding: 10px 20px;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.logo {
  font-weight: 900;
  padding: 10px 50px;
}

.logo:hover,
nav ul li a:hover {
  background: #555;
}



/* nav ul li.name {
  margin-left: 5%;
  margin-right: 50%;
}

/* Main content area */
main {
  padding: 0px;
}

section {
  padding: 20px;

  &.intro {
    color: black;
    padding: 300px;
    background: white right no-repeat url("image.png");
  }

}

/* Footer styling */
footer {
  text-align: center;
  padding: 20px;
  background: #333;
  color: #ffffff;
}
